{% extends "gridapp/base.html" %}

{% block title %}
    Add an Asset
{% endblock title %}

{% block nav %}  
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/gridadmin">Home</a>
    <a class="nav-item nav-link" href="/gridadmin">Scan</a>
  </div>
  <!-- Navbar Right Side -->
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="">Hello, Admin</a>
    <a class="nav-item nav-link" href="/logout">Log out</a>
  </div>
{% endblock nav %}

{% block content %}

<form action='/create_response' method='POST'>
    <h1>Update Server Credentials</h1>
    <div class="form-group">
      <label for="formGroupExampleInput">Server Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Server Name" name="server">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Username</label>
      <input type="username" class="form-control" id="formGroupExampleInput2" placeholder="SSH Username" name="username">

    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="SSH Password" name="password">
        
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Port</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="22" name="port">
        
      </div>
    <button type="submit" class="btn btn-primary">Update</button>

  </form>
{% endblock content %}