{% extends "gridapp/base.html" %}

{% block title %}
    Admin Home
{% endblock title %}

{% block nav %}
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/searchdb">View Database</a>
    <a class="nav-item nav-link" href="/scan">Scan</a>
    <a class="nav-item nav-link" href="/add_asset">Update Server Credentials</a>
  </div>
  <!-- Navbar Right Side -->
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/gridapp">Hello, Admin</a>
    <a class="nav-item nav-link" href="/logout">Log out</a>
  </div>
{% endblock nav %}

{% block content %}
<h1>Search</h1>
<form action="/searchdb" method="POST">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Search By:</label>
    <select class="form-control form-control-lg" id="searchTermSelect" onchange="searchChange()">
      <option value="default">Choose Search Parameter</option>
      <option value="os">Operating System</option>
      <option value="ad">AD Domain</option>
      <option value="workgroup">Workgroup Membership</option>
    </select>
  </div>

  <input required type="text" class="form-control" id="searchBar" placeholder="Choose Search Parameter" name="filter">
  <input hidden type="text" class="form-control" id="searchBy" placeholder="Choose Search Parameter" name="parameter">
  <script>
    function searchChange() {
      
      document.getElementById("searchBy").value = document.getElementById("searchTermSelect").value;
      
      if(document.getElementById("searchTermSelect").value == "default")
        document.getElementById("submitButton").disabled=true;
      else
        document.getElementById("submitButton").disabled=false;

      if(document.getElementById("searchTermSelect").value == "default")
        document.getElementById("searchBar").placeholder = "Select Search Parameter";
      else if(document.getElementById("searchTermSelect").value == "os")
        document.getElementById("searchBar").placeholder = "Enter Operating System";
      else if(document.getElementById("searchTermSelect").value == "workgroup")
        document.getElementById("searchBar").placeholder = "Enter Workgroup";
      else
        document.getElementById("searchBar").placeholder = "Enter AD Domain";
    }
  </script>

  <br>
  <button disabled type="submit" class="btn btn-primary" id="submitButton" onchange="searchChange()">Search Database</button>
</form>

<br><br>

{% if scanCall == True and emptyDB == False and emptyCred == False %}
  <script>
    alert("Scan complete!");
  </script>
  {% elif scanCall == True and emptyCred == True %}
  <script>
    alert("No Credentials to Scan!");
  </script>
  {% elif scanCall == True and emptyDB == True %}
  <script>
    alert("No Scan Results!");
  </script>
  {% endif %}

{% if updateCall == True %}
  <script>
    alert("Server Credentials Updated!");
  </script>
{% endif %}

{% if searchCall == True and searchResults == False %}
<h2>No results to display.</h2>
{% elif searchCall == True %}
<div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">IP</th>
        <th scope="col">Host name</th>
        <th scope="col">MAC Address</th>
        <th scope="col">Operating System</th>
        <th scope="col">Status</th>
        <th scope="col">Workgroup</th>
        <th scope="col">AD Domain</th>
        <th scope="col">Last Available</th>
        <th scope="col">Last Updated</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {% for key,values in data.items %}
      <tr>
        <th scope="row">{{key}}</th>
        {% for v in values %}
        <td>{{v}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock content %}