{% extends "gridapp/base.html" %}

{% block title %}
    Asset List
{% endblock title %}

{% block nav %}  
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/gridadmin">Home</a>
    <a class="nav-item nav-link" href="/singlescan">Single Scan</a>
    <a class="nav-item nav-link" href="/allrequest">Scan All</a>
    <a class="nav-item nav-link" href="/add_asset">Add an Asset</a>
    <a class="nav-item nav-link" href="/delete_asset">Delete an Asset</a>
  </div>
  <!-- Navbar Right Side -->
  <div class="navbar-nav">
      <a class="nav-item nav-link" href="/gridapp">Hello, Admin</a>
      <a class="nav-item nav-link" href="/logout">Log out</a>
  </div>
{% endblock nav %}

{% block content %}
  <!-- <div id="assetTable">
    <table>
      <thead>

      </thead>
      <tbody>
        {% for index,row in enumerate(data) %}
          <tr>
            <th>{index}</th>
            {% for col in row %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> -->

  <script>
    var table = document.createElement('table'), tr, td, row, cell;
    table.className = "table table-striped table-bordered";
    var tablebody = document.createElement('tbody');
    table.appendChild(tablebody);
    for (row = 0; row < 10; row++) {
        tr = document.createElement('tr');
        for (cell = 0; cell < 22; cell++) {
            td = document.createElement('td');
            tr.appendChild(td);
            td.innerHTML = row * 22 + cell + 1;
        }
        tablebody.appendChild(tr);
    }
    document.getElementById('assetTable').appendChild(table);
  </script>
{% endblock content %}