{% extends "gridapp/base.html" %}

{% block title %}
    Log in
{% endblock title %}

{% block nav %}  
  <div class="navbar-nav mr-auto"></div>
  <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Back</a>
  </div>
{% endblock nav %}

{% block content %}
  <div class="login-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Log In</legend>
              {{ form.as_p }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Log In</button>
          </div>
      </form>
  </div>
{% endblock content %}