{% extends "gridapp/base.html" %}

{% block title %}
    Single Scan
{% endblock title %}

{% block content %}
<h1>Scan a Single Asset</h1>
<form action='/onerequest' method='POST'>
    <div class="form-group">
        <label for="formGroupExampleInput">Asset Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Asset Name" name="server"> 
      <small id="emailHelp" class="form-text text-muted">Only those Assets can be scanned that are present in the database.</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Scan</button>
  </form>
{% endblock content %}