{% extends "gridapp/base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block nav %}  
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/singlescan">Single Scan</a>
    <a class="nav-item nav-link" href="/allrequest">Scan All</a> 
  </div>
  <!-- Navbar Right Side -->
  <div class="navbar-nav">
    {% if user.is_authenticated %}
    <a class="nav-item nav-link" href="/logout">Log out</a>
    {% else %}
      <a class="nav-item nav-link" href="/login">Log in</a>
    {% endif %}
  </div>
{% endblock nav %}

{% block content %}
  <h1>Search</h1>
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Search By:</label>
      <select class="form-control form-control-lg" id="searchTermSelect" onchange="searchChange()">
        <option value="default" disabled selected>Choose Search Parameter</option>
        <option value="Asset">Asset Name</option>
        <option value="OS">Operating System</option>
        <option value="AD">AD Domain</option>
      </select>
    </div>

    <input type="text" class="form-control" id="searchBar" placeholder="Choose Search Parameter">
    <script>
      function searchChange() {
        if(document.getElementById("searchTermSelect".value) == "Choose Search Parameter")
          document.getElementById("searchBar").placeholder = "Select Search Parameter";
        else if(document.getElementById("searchTermSelect").value == "Asset")
          document.getElementById("searchBar").placeholder = "Enter Asset Name";
        else if(document.getElementById("searchTermSelect").value == "OS")
          document.getElementById("searchBar").placeholder = "Enter Operating System";
        else
          document.getElementById("searchBar").placeholder = "Enter AD Domain";
      }
    </script>

    <br>
    <button type="submit" class="btn btn-primary">Search Database</button>
  </form>
{% endblock content %}